<ion-view view-title="Colabore.ufpe" class="header">
  <ion-content class="padding">
   <!-- <h1>{{home}}</h1> -->
    <form name="formPublicar" class="list">
        <h2>Dados pessoais</h2>
        <label class="item item-input">
            <span class="input-label">Nome</span>
            <input type="text" placeholder="Nome"ng-model="publicar.nome" required>
        </label>
        <label class="item item-input">
            <span class="input-label">Foto</span>
            <input type="text" placeholder="Sua foto" ng-model="publicar.face" required>
        </label>
        <h2>Problema</h2>
        <label class="item item-input">
            <span class="input-label">Descrição</span><textarea placeholder="Descrição" ng-model="publicar.descricao"> </textarea>
        </label>
        <label class="item item-input">
            <span class="input-label">Data</span>
            <input type="text" placeholder="11 de janeiro de 2016" ng-model="publicar.data">
        </label>
        <!-- <label class="item item-input">
            <span class="input-label">Local</span>
            <input type="text" placeholder="Local" ng-model="publicar.problem_local" required>
        </label> -->
        <label class="item item-input">
            <span class="input-label">Foto</span>
            <input type="text" placeholder="Add foto do problema"ng-model="publicar.foto" required>
        </label>
        <button id="colaboreUfpe-button1" class="button button-positive  button-block" ng-disabled="formPublicar.$invalid" ng-click="addProblem(publicar)">Enviar</button>
        </form>
  </ion-content>
</ion-view>